footer {
    text-align: center;

    .footerSec {
        border-bottom: 1px solid @textBlack;
    }

    .foot1 {
        img {
            width: 40px;
        }
        h3 {

        }
    }
    .foot2 {
        .icons {
            img {
                width: 40px;
            }
        }
        .newsletter {
            button {
                
            }
        }
    }
    .foot3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        h4 {
            padding: 20px;
            border: 1px solid @textBlack;
        }
    }
}