.spaTitle {
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

.spas {
    display: grid; 
    grid-template-columns: 1fr;
    grid-gap: 30px;
    padding: 20px;
    text-align: center;

    .spa {

        img {
            width: 100%;
        }
        h3 {
            padding: 8px;
        }
        p {
            padding: 8px;
            padding-top: 0;
        }
        .controls {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .btnBox {
                width: 100%;
                padding: 10px;

                button {
                    width: 100%;
                    padding: 10px 5px;
                }
            }
        }
    }
}

//770
@media only screen and (min-width: 770px) {
    .spas {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1028px) {
    .spas {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1280px) {
    .spas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}