.spaTitle {
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

.spas {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    text-align: center;

    .spa {
        width: 100%;

        img {
            width: 100%;
        }
        h3 {

        }
        p {

        }
        .controls {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .btnBox {
                padding: 10px;
                button {
                    
                }
            }
        }
    }
}