html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { 
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

$veryLightOrange: #F7D699;
$lightOrange: #F29F05;
$orange: #F28705;
$grey: #A68877;
$darkRed: #732002;
$red: #BF2604;

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}


// header 
header {
  display: flex;
  background-color: $veryLightOrange;
  .logoContainer {
    width: 100px;
    padding: 10px;
    figure img {
      width: 100%;
    }
  }
  .headerText {
    padding: 10px;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 30px;
    }
  }
}

//nav 
nav {
  background-color: $red;
  color: white;
  ul {
    display: flex;
    justify-content: space-evenly;
    li {
      padding: 10px;
      font-size: 20px;
    }
  }
}

//heroContainer
.heroContainer {
  width: 100%;
  picture {
    width: 100%;
    source {
      width: 100%;
    }
    img {
      width: 100%;
    }
  }
}


.secondSection {
  .sectionText {
    line-height: 1.2;
    h2 {
      font-size: 50px;
      padding: 10px;
    }
    p {
      font-size: 20px;
      padding: 10px;
    }
  }
  .sideImgContainer {
    float: right;
    padding: 10px;
    width: 50%;
    .sideImg {
      width: 100%;
      source {
        width: 50%;
      }
      img {
        width: 100%;
      }
    }
  }
}

//footer
footer {
  background-color: $red;
  color: white;
  text-align: center;
  h3 {
    font-size: 18px;
    padding: 30px 0;
  }
}