header {
  
  .mainBar {
    display: grid;
    grid-template-columns: 150px 1fr;
    img {
        width: 100px;
        padding: 5px;
        padding-left: 20px;
        //filter: drop-shadow(4px 4px 4px rgba(34, 34, 34, 0.4));
    }

    nav {
        text-align: right;
        padding-right: 20px;
        display: block;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            li {
                font-size: 18px;
                text-transform: uppercase;
                padding: 10px;
            }
        }
    }
    #hamburger {
        display: none;
    }
  }
  .popupBar {
    display: none;
  }
}

.sliderWindow {
  position: relative;
  .mainText {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 3999;
    top: 43%;
    h1 {
      font-size: 60px;
      color: white;
      text-transform: uppercase;
      font-weight: 900;
      text-shadow: 2px 2px 8px #000000;
    }
    h2 {
      font-size: 35px;
      font-weight: 700;
      line-height: 1.25;
      max-width: 800px;
      color: white;
      margin: 0 auto;
      margin-top: 10px;
      text-shadow: 2px 2px 8px #000000;
    }
    button {
      margin-top: 25px;
      background-color: rgb(46, 90, 212);
      border: none;
      padding: 10px;
      font-size: 18px;
      color: white;
      border-radius: 10px;
      text-transform: uppercase;
      box-shadow: 2px 2px 8px #000000;
    }
  }
  .my_slider {
    picture {
      height: auto;
      max-height: 100vh;
      img {
        width: 100vw;
      }
    }
  }
}

.informationCards {
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
}