/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  max-width: 960px;
  margin: 0 auto; }

header .headerMain {
  padding: 20px;
  padding-top: 60px;
  background-image: url("../img/small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke; }
  header .headerMain h1 {
    font-size: 40px;
    font-weight: 700; }
  header .headerMain h2 {
    font-size: 30px;
    font-weight: 700; }

nav {
  background-color: #A62F03; }
  nav ul {
    display: flex; }
    nav ul li {
      padding: 8px;
      font-size: 15px;
      width: 25%;
      text-align: center; }
    nav ul .activated {
      background-color: #A4A3D9; }

section h1 {
  font-size: 40px;
  padding: 10px; }
section h2 {
  font-size: 30px;
  padding: 10px; }
section p {
  padding: 10px;
  line-height: 1.2; }
section .bearImg {
  width: 100px;
  position: relative;
  animation-name: bearAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards; }
section .spiderImg {
  width: 100px;
  position: relative;
  animation-name: spiderAnimation;
  animation-duration: 2.2s;
  animation-fill-mode: backwards; }

@keyframes bearAnimation {
  0% {
    left: 0; }
  25% {
    transform: rotate(20deg); }
  50% {
    left: 200px; }
  100% {
    left: 0; } }
@keyframes spiderAnimation {
  0% {
    transform: rotate(-20deg);
    left: 0px; }
  25% {
    transform: rotate(20deg);
    left: 50px; }
  50% {
    transform: rotate(-20deg);
    left: 100px; }
  75% {
    transform: rotate(20deg);
    left: 150px; }
  100% {
    transform: rotate(0deg);
    left: 0px; } }
footer {
  background-color: #A62F03;
  padding: 20px;
  text-align: center;
  font-size: 10px; }

@media only screen and (min-width: 30rem) {
  header .headerMain {
    background-image: url("../img/medium.jpg"); }

  nav ul li {
    width: auto;
    font-size: 20px;
    padding: 13px; } }
@media only screen and (min-width: 46.875rem) {
  header {
    background-image: url("../img/large_repeat.jpg"); }
    header .headerMain {
      background-image: url("../img/large.jpg"); } }

/*# sourceMappingURL=styles.css.map */
