.mainImage {
    width: 33%;
}

header {
    font-size: 60px;
    .logoContainer {
        width: 160px;
    }
    .logo {
        width: 100%;
    }
    .headerText {
        .title {
            font-size: 70px;
        }
        .headerSlogan {
            display: inline-block;
            font-size: 30px;
        }
    }


}