/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  max-width: 1024px;
  margin: 0 auto; }

header img {
  width: 60px;
  margin: 10px;
  display: inline; }
header h1 {
  font-size: 40px;
  font-weight: bold;
  display: inline;
  position: relative;
  top: -20px; }

#hamburgerBtn {
  display: none; }

@media only screen and (max-width: 60rem) {
  body {
    padding-top: 2.75rem; }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.75rem;
    background-color: #630C7D; }

  #hamburgerBtn {
    display: block;
    width: 7rem;
    height: 2.75rem;
    background: none;
    color: rgba(255, 255, 255, 0.9);
    border: 0 none;
    font-size: 1.3rem;
    font-weight: normal;
    text-align: left; }
    #hamburgerBtn i {
      font-size: 2rem;
      font-style: normal; }

  #hamburgerBtn.open span:nth-child(1) {
    display: none; }

  #hamburgerBtn.open span:nth-child(2) {
    display: block; }

  #hamburgerBtn span:nth-child(1) {
    display: block; }

  #hamburgerBtn span:nth-child(2) {
    display: none; }

  #primaryNav {
    height: 0;
    overflow: hidden;
    width: 20rem;
    background-color: #630C7D;
    margin: 0;
    padding: 0;
    z-index: 998;
    font-family: Verdana;
    font-weight: normal; }

  #primaryNav li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.25); }

  #primaryNav li a {
    display: block;
    width: 100%;
    padding: .75rem 2vw;
    font-size: 14px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2); }

  #primaryNav li a:hover {
    background-color: rgba(0, 0, 0, 0.5); }

  #primaryNav.open {
    height: auto; }

  #primaryNav li.parent > a::after {
    font-size: .75rem;
    content: "\25BC";
    color: rgba(255, 255, 255, 0.5);
    float: right; }

  #primaryNav li ul {
    display: none;
    background: rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0; }

  #primaryNav li ul a {
    padding-left: 20px; }

  #primaryNav li:hover ul {
    display: block; } }
section h2 {
  font-size: 40px;
  padding: 10px;
  font-weight: bold; }
section form {
  font-size: 20px;
  margin-top: -15px; }
  section form h3 {
    font-size: 30px;
    padding: 10px;
    font-weight: bold; }
  section form .formSection {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 20px 0;
    background-color: #e6e6e6; }
    section form .formSection h3 {
      padding: 3px; }
    section form .formSection label {
      display: block;
      padding: 3px; }
    section form .formSection input:required {
      display: block;
      border-radius: 10px;
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      font-size: 20px; }
    section form .formSection input:required:valid {
      border: 1px solid green; }
    section form .formSection select {
      font-size: 20px;
      padding: 3px;
      margin: 3px; }
    section form .formSection .radio {
      line-height: 1.3; }
      section form .formSection .radio label {
        display: inline; }
  section form button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 3px;
    border-radius: 5px;
    background-color: #efc35e;
    border: 1px solid black;
    font-weight: bold; }

footer {
  background-color: #630C7D;
  color: white;
  margin-top: 20px; }
  footer p {
    text-align: center;
    padding: 20px; }

.thanks {
  height: 600px;
  display: grid;
  justify-content: center;
  align-content: center; }
  .thanks h1 {
    font-size: 80px; }

.break {
  display: block;
  height: 10px; }

@media only screen and (min-width: 30rem) {
  header img {
    width: 80px; }
  header h1 {
    font-size: 60px; }

  nav {
    background-color: #630C7D; }
    nav ul {
      margin: 0 0 0 2vw;
      padding: 0; }
    nav ul > li {
      float: left;
      list-style: none;
      border-left: 1px solid rgba(0, 0, 0, 0.2); }
    nav ul li:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
    nav ul li a {
      display: block;
      background: none;
      font-size: .9em;
      padding: .9em .9em;
      color: white;
      text-decoration: none;
      /*transition to transition over time on hover*/
      -webkit-transition: background 0.3s linear;
      transition: background 0.3s linear; }
    nav ul li a:hover {
      background: #bb8813; }
    nav #primaryNav li.parent > a::before {
      font-size: .75rem;
      content: "\25BC";
      color: rgba(255, 255, 255, 0.5); }
    nav ul li ul {
      z-index: 998;
      position: absolute;
      background-color: #8d00ba;
      left: -999em;
      width: 12em; }
    nav ul li ul li {
      float: none;
      border: none;
      border-top: solid 1px rgba(0, 0, 0, 0.2); }
    nav ul li:hover ul {
      left: auto;
      margin-left: 0; }
    nav li.current-menu-item a {
      background-color: rgba(0, 0, 0, 0.25); } }
@media only screen and (min-width: 46.875rem) {
  header {
    background-color: white; } }

/*# sourceMappingURL=styles.css.map */
