/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Start your code here: */
@font-face {
  font-family: futuraBT;
  src: url(../fonts/futura-light-bt.ttf);
}
@font-face {
  font-family: futuraBTCondensed;
  src: url(../fonts/futura-light-condensed-bt.ttf);
}
body {
  font-family: futuraBT, Arial, Helvetica, sans-serif;
  background-color: #eaeaea;
  color: #101010;
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.subWrapper {
  max-width: 1232px;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
h2 {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
h3 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
p {
  font-size: 14px;
  line-height: 18px;
}
.hero {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  h2 {
    font-size: 28px;
    line-height: 36px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
  }
}
button {
  font-size: 15px;
  line-height: 18px;
  font-family: futuraBT, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background-color: #494949;
  border-radius: 5px;
  border: none;
  padding: 15px 50px;
  text-transform: uppercase;
  width: 100%;
}
@media only screen and (min-width: 568px) {
  button {
    width: auto;
  }
}
@media only screen and (min-width: 1025px) {
  button {
    font-size: 18px;
  }
}
nav {
  height: 52px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
nav .logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
nav .hamburger {
  width: 32px;
}
nav .fullNav {
  display: none;
}
nav .fullNav li {
  font-size: 16px;
  font-family: futuraBTCondensed, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 0 18px 0 35px;
  position: relative;
}
nav .fullNav li a {
  text-decoration: none;
  color: #101010;
}
nav .fullNav li a .navArrow {
  position: absolute;
  width: 20px;
  top: -3px;
  right: -8px;
}
nav .fullNav .navIcons {
  padding-left: 20px;
}
nav .fullNav .navIcons .navIcon {
  width: 30px;
  padding: 4px;
}
@media only screen and (min-width: 1025px) {
  nav .hamburger {
    display: none;
  }
  nav .fullNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  nav .fullNav .navIcons {
    margin-left: 10px;
  }
}
@media only screen and (min-width: 1100px) {
  nav {
    height: 64px;
  }
}
@media only screen and (min-width: 1300px) {
  nav {
    height: 70px;
  }
  nav .fullNav li {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1560px) {
  nav {
    height: 74px;
  }
}
.about {
  text-align: center;
  padding: 30px 0;
}
.about hr {
  border: 1px solid grey;
  width: 180px;
  margin: 24px auto;
}
.about p {
  text-decoration: underline;
}
.about button {
  margin-top: 24px;
}
.triSec {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.triSec .triBox {
  width: 100%;
  height: 360px;
  background-color: green;
  background-size: cover;
}
.triSec .triBox .triFilter {
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: relative;
}
.triSec .triBox .triFilter h1 {
  color: white;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
@media only screen and (min-width: 446px) {
  .triSec .triBox {
    height: 420px;
  }
}
@media only screen and (min-width: 565px) {
  .triSec .triBox {
    height: 480px;
  }
}
@media only screen and (min-width: 770px) {
  .triSec .triBox {
    height: 540px;
  }
}
@media only screen and (min-width: 900px) {
  .triSec .triBox {
    height: 760px;
  }
}
@media only screen and (min-width: 1025px) {
  .triSec {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .triSec .triBox {
    height: 360px;
  }
}
@media only screen and (min-width: 1280px) {
  .triSec .triBox {
    height: 480px;
  }
}
@media only screen and (min-width: 1560px) {
  .triSec .triBox {
    height: 600px;
  }
}
.biSec {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 0;
  grid-gap: 20px;
}
.biSec .sec {
  margin: 20px 0;
}
.biSec .sec img {
  width: 100%;
}
.biSec .sec h3 {
  padding: 10px 0;
}
.biSec .sec button {
  margin: 0 auto;
  margin-top: 20px;
}
@media only screen and (min-width: 770px) {
  .biSec {
    grid-template-columns: 1fr 1fr;
  }
}
footer {
  text-align: center;
}
footer .footerSec {
  border-bottom: 1px solid #101010;
}
footer .foot1 {
  padding: 40px;
}
footer .foot1 img {
  width: 30px;
}
footer .foot1 h3 {
  font-weight: bold;
}
footer .foot2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 40px;
}
footer .foot2 .icons img {
  width: 40px;
  padding: 5px;
}
footer .foot2 .newsletter {
  margin: 40px 0;
}
footer .foot2 .newsletter button {
  background-color: white;
  color: #101010;
  border: 1px solid #101010;
}
footer .foot3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .foot3 h4 {
  padding: 20px;
  border: 1px solid #101010;
}
.spaTitle {
  text-align: center;
  padding: 30px;
  font-size: 50px;
}
.spas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 20px;
  text-align: center;
}
.spas .spa {
  width: 100%;
}
.spas .spa img {
  width: 100%;
}
.spas .spa .controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.spas .spa .controls .btnBox {
  padding: 10px;
}
