* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: rgb(48, 48, 48);
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #8d853c;
    background-image: url('./img/header.jpg');
    background-position: 0 300px;
    color: white;
    text-shadow: 3px 3px 8px #000000a1;
    padding: 20px;
}
header h1 {
    font-size: 50px;
    padding: 5px;
}
header h2 {
    font-size: 25px;
    padding: 5px;
}

section {
    padding: 15px 0;
}
section h1 {
    font-size: 30px;
    padding: 5px;
}
section p {
    font-size: 20px;
    padding: 0 10px 10px 5px;
}

section ul {
    margin-left: 20px;
    font-size: 20px;
}

footer {
    background-color: #B30E00;
    padding: 45px;
    color: rgb(226, 226, 226);
    text-align: center;
    margin-top: 20px;
}


/* app */
.app h1 {
    padding: 10px 0;
}
button {
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #B30E00;
    color: white;
    border: none;
}
.options label {
    padding-right: 7px;
}