* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    color: rgb(48, 48, 48);
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #0e9145;
    background-image: url('./img/header.jpg');
    background-position: 0 -350px;
    color: white;
    text-shadow: 3px 3px 8px #000000a1;
    padding: 20px;
}
header h1 {
    font-size: 50px;
    padding: 5px;
}
header h2 {
    font-size: 25px;
    padding: 5px;
}

section {
    padding: 15px 0;
}
section h1 {
    font-size: 30px;
    padding: 5px;
}
section p {
    font-size: 20px;
    padding: 0 10px 10px 5px;
}

section ul {
    margin-left: 20px;
    font-size: 20px;
}

footer {
    background-color: #402f57;
    padding: 45px;
    color: rgb(226, 226, 226);
    text-align: center;
}

.game {
    max-width: 500px;
    position: relative;
    margin: 30px auto;
}

.gameover {
    max-width: 150px;
    background-color: rgba(255, 255, 255, 0.74);
    text-align: center;
    padding: 5px;
    display: none;
    position: absolute;
    left: 180px;
    top: 30px;
    border-radius: 3px;
    animation-name: gameover;
    opacity: 0;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes gameover {
    from { opacity: 0; }
    to { opacity: 1; }

}
.gameover .award {
    padding: 15px;
}
.gameover .award img {
    width: 100%;
}
.gameover .finalScoreDiv {
    font-size: 20px;
}
.gameover .finalScoreDiv .finalScore {
    font-weight: bold;
}
.gameover .playAgain button {
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
    margin: 5px;
}

.console {
    background-color: rgb(241, 211, 255);
    text-align: center;
    padding: 10px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
.console p {
    padding: 0;
}

.controls {
    background-color: rgb(147, 128, 232);
    font-size: 20px;
}
.controls form {
    display: flex;
    align-items: center;
}
.controls form .guessCount {
    padding: 3px;
    align-self: right;
}
.controls form .guessValue input {
    padding: 3px;
    margin: 5px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 20px;
}
.controls form .guessButton button {
    margin: 3px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}