/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto; }

header {
  width: 100%;
  background: #7A28C7;
  color: white; }
  header .headerText {
    font-family: 'Staatliches', cursive;
    text-align: center; }
    header .headerText h1 {
      font-size: 80px;
      padding: 10px; }
    header .headerText h2 {
      font-size: 40px;
      padding: 10px;
      padding-top: 0; }

nav {
  width: 100%;
  background: #372CB0;
  font-size: 17px;
  color: white; }
  nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center; }
    nav ul li {
      padding: 15px; }
    nav ul .active {
      background: #2D9BBD; }

.membersSection h2 {
  font-size: 40px;
  padding: 20px;
  padding-bottom: 5px; }
.membersSection .memberTilesContainer {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; }
  .membersSection .memberTilesContainer img {
    width: 150px;
    clip-path: circle(45%);
    shape-outside: circle(50%);
    float: left; }
  .membersSection .memberTilesContainer h3 {
    font-size: 23px;
    font-weight: bold;
    padding: 10px; }
  .membersSection .memberTilesContainer p {
    font-size: 17px;
    line-height: 1.2; }

.performancesSection h2 {
  font-size: 40px;
  padding: 20px; }
.performancesSection .performances {
  font-size: 0px; }
  .performancesSection .performances figure {
    width: 100%;
    height: 0;
    padding-top: 1%; }
    .performancesSection .performances figure img {
      padding: 0;
      margin: 0;
      width: 100%; }

footer {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  text-align: center;
  background-color: #372CB0; }

@media only screen and (min-width: 30rem) {
  .membersSection .memberTilesContainer {
    grid-template-columns: 1fr 1fr; }

  nav {
    font-size: 20px; }
    nav ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      text-align: center; } }
@media only screen and (min-width: 46.875rem) {
  .membersSection .memberTilesContainer {
    grid-template-columns: repeat(4, 1fr); }

  nav ul {
    display: flex; } }

/*# sourceMappingURL=styles.css.map */
