* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    color: rgb(48, 48, 48);
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #0e9145;
    background-image: url('./img/header.jpg');
    background-position: 0 -350px;
    color: white;
    text-shadow: 3px 3px 8px #000000a1;
    padding: 20px;
}
header h1 {
    font-size: 50px;
    padding: 5px;
}
header h2 {
    font-size: 25px;
    padding: 5px;
}

.column {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

section {
    padding: 15px 0;
}
section h1 {
    font-size: 30px;
    padding: 5px;
}
section p {
    font-size: 20px;
    padding: 0 10px 10px 5px;
}

section ul {
    margin-left: 20px;
    font-size: 20px;
}

section button {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: block;
}

/* console / errors */ 
.listItem {
    background-color: lightblue;
    padding: 5px;
    font-size: 18px;
    list-style-type: none;
}
#lengthDisplay {
    background-color: lightblue;
    padding: 5px;
    font-size: 18px;
    color: rgb(141, 136, 68);
}
.outputItem {
    background-color: lightblue;
    padding: 5px;
    font-size: 18px;
}
.error {
    background-color: salmon;
    color: white;
}

.column div h1 {
    padding: 5px;
}

footer {
    background-color: #402f57;
    padding: 45px;
    color: rgb(226, 226, 226);
    text-align: center;
}